@use "colors";

.card {
  display: flex;
  height: 280px;
  overflow: visible;
  width: 73rem;


  &__img-container {
    margin: 0;
    width: 70rem;
    height: auto;
    border-radius: 1rem 0rem 0rem 1rem;
  }
  &__img {
    margin: 0;
    width: 125%;
  }
  &__main-content-wrapper {
    padding: 3.27rem 3.8rem 0.2rem 4.3rem;
  }

  &__title {
    font-size: 2.04rem;
  }

  &__user-info-wrapper {
    padding-left: 4.3rem;
  }

  &__social-share {
    position: absolute;
    right: -9.5rem;
    bottom: 10rem;
    width: 18.2rem;
    border-radius: 1rem;
    padding: 0.9rem 3.2rem;

    &::after {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: colors.$veryDarkGrayishBlue;
      transform: rotate(45deg);
      position: absolute;
      bottom: -0.8rem;
      right: 13rem;
    }
  }

  &__share-btn {
    transition: 400ms ease;
    &:hover {
      background-color: #303641;
      filter: brightness(250%);
    }
  }

  .card__share-btn--active {
    position: absolute;
    bottom: -6rem;
    left: 8.67rem;
  }
}

// TODO: Crear triangulo de burbuja de texto - JavaScript - Eventos segun tamaño del dispositivo (Quizas solo que aparezca encima, y que no tenga que desaparecer el contenido 1)
